@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<!-- Title page -->
<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('/cozastore/images/bg-03.jpg');">
	<h2 class="ltext-105 cl0 txt-center">
		İletişim
	</h2>
</section>


<!-- Content page -->

@await Component.InvokeAsync("_MessageComponentPartial")




