
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<!-- Title page -->
<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('/cozastore/images/bg-03.jpg');">
	<h2 class="ltext-105 cl0 txt-center">
		İletişim
	</h2>
</section>


<!-- Content page -->

@await Component.InvokeAsync("_MessageComponentPartial")

<!-- Map -->
<div class="map">
	<div class="size-303" id="google_map" data-map-x="40.691446" data-map-y="-73.886787" data-pin="images/icons/pin.png" data-scrollwhell="0" data-draggable="1" data-zoom="11"></div>
</div>

