
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Admin Paneli </title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/focus-2/images/favicon.png">
    <link rel="stylesheet" href="/focus-2//vendor/owl-carousel/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/focus-2//vendor/owl-carousel/css/owl.theme.default.min.css">
    <link href="/focus-2//vendor/jqvmap/css/jqvmap.min.css" rel="stylesheet">
    <link href="/focus-2//css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">



</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <a href="index.html" class="brand-logo">
                <img class="logo-abbr" src="/focus-2/images/logo.png" alt="">
                <img class="logo-compact" src="/focus-2/images/logo-text.png" alt="">
                <img class="brand-title" src="/focus-2/images/logo-text.png" alt="">
            </a>

            <div class="nav-control">
                <div class="hamburger">
                    <span class="line"></span><span class="line"></span><span class="line"></span>
                </div>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->
        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">
            <div class="header-content">
                <nav class="navbar navbar-expand">
                    <div class="collapse navbar-collapse justify-content-between">
                        <div class="header-left">
                            
                        </div>

                        <ul class="navbar-nav header-right">
                            <li class="nav-item dropdown notification_dropdown">
                                <a class="nav-link" href="#" role="button" data-toggle="dropdown">
                                    <i class="fas fa-envelope"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <ul class="list-unstyled">


                                        <li class="media dropdown-item">
                                            <span class="success"><i class="ti-user"></i></span>
                                            <div class="media-body">
                                                <a href="#">
                                                    <p>
                                                        <strong>Martin</strong> has added a <strong>customer</strong> Successfully
                                                    </p>
                                                </a>
                                            </div>
                                            <span class="notify-time">3:20 am</span>
                                        </li>


                                    </ul>
                                    <a class="all-notification" href="#">
                                        Tüm Mesajları Gör <i class="ti-arrow-right"></i>
                                    </a>
                                </div>
                            </li>
                            <li class="nav-item dropdown header-profile">
                                <a class="nav-link" href="#" role="button" data-toggle="dropdown">
                                    <i class="fas fa-th-list"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a href="./app-profile.html" class="dropdown-item">
                                        <i class="fas fa-box"></i>
                                        <span class="ml-2">Ürünler </span>
                                    </a>
                                    <a href="./email-inbox.html" class="dropdown-item">
                                        <i class="fas fa-star"></i>
                                        <span class="ml-2">Öne Çıkanlar </span>
                                    </a>
                                    <a href="./page-login.html" class="dropdown-item">
                                        <i class="fas fa-sign-out-alt"></i>
                                        <span class="ml-2">Çıkış Yap </span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->
        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="quixnav">
            <div class="quixnav-scroll">

               

                <ul class="metismenu" id="menu">
                    <li class="nav-label first">ADMİN PANELİ</li>
                    
                    <li>
                        <a href="/Admin/Home/Index">
                            <i class="fas fa-envelope"></i>Mesajlar
                        </a>
                    </li>

                    <li>
                        <a href="/Admin/Products/Index">
                            <i class="fas fa-box"></i>Ürünler
                        </a>
                    </li>

                    <li>
                        <a href="/Admin/Feature/Index">
                            <i class="fas fa-star"></i>Öne Çıkanlar
                        </a>
                    </li>

                    <li>
                        <a href="/Admin/About/Index">
                            <i class="fas fa-info-circle"></i>Hakkımızda
                        </a>
                    </li>

                    <li>
                        <a href="/Default/Index">
                            <i class="fas fa-globe"></i>Siteye Dön
                        </a>
                    </li>

                    <li>
                        <a href="javascript:void()">
                            <i class="fas fa-sign-out-alt"></i>Çıkış Yap
                        </a>
                    </li>


                </ul>
            </div>


        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->
        <!--**********************************
            Content body start
        ***********************************-->
        @RenderBody()
        <!--**********************************
            Content body end
        ***********************************-->
        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>Copyright © Designed &amp; Developed by <a href="#" target="_blank">Quixkit</a> 2019</p>
                <p>Distributed by <a href="https://themewagon.com/" target="_blank">Themewagon</a></p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->
        <!--**********************************
           Support ticket button start
        ***********************************-->
        <!--**********************************
           Support ticket button end
        ***********************************-->


    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->
    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="/focus-2//vendor/global/global.min.js"></script>
    <script src="/focus-2//js/quixnav-init.js"></script>
    <script src="/focus-2//js/custom.min.js"></script>


    <!-- Vectormap -->
    <script src="/focus-2//vendor/raphael/raphael.min.js"></script>
    <script src="/focus-2//vendor/morris/morris.min.js"></script>


    <script src="/focus-2//vendor/circle-progress/circle-progress.min.js"></script>
    <script src="/focus-2//vendor/chart.js/Chart.bundle.min.js"></script>

    <script src="/focus-2//vendor/gaugeJS/dist/gauge.min.js"></script>

    <!--  flot-chart js -->
    <script src="/focus-2//vendor/flot/jquery.flot.js"></script>
    <script src="/focus-2//vendor/flot/jquery.flot.resize.js"></script>

    <!-- Owl Carousel -->
    <script src="/focus-2//vendor/owl-carousel/js/owl.carousel.min.js"></script>

    <!-- Counter Up -->
    <script src="/focus-2//vendor/jqvmap/js/jquery.vmap.min.js"></script>
    <script src="/focus-2//vendor/jqvmap/js/jquery.vmap.usa.js"></script>
    <script src="/focus-2//vendor/jquery.counterup/jquery.counterup.min.js"></script>


    <script src="/focus-2//js/dashboard/dashboard-1.js"></script>

</body>

</html>