@model CozaStore.WebUI.Dtos.Product.CreateProductDto
@{
    ViewData["Title"] = "CreateProduct";
    Layout = "~/Views/Shared/_adminLayout.cshtml";

}

<div class="content-body">
    <div class="container-fluid">
        <h2>Yeni Ürün Ekle</h2>
        <hr />
        <div class="row">
            <div class="col-md-8">
                <form action="/Admin/Products/CreateProduct" method="post">
                    <label>Ürün Adı:</label>
                    <input type="text" name="Title" class="form-control" required />
                    <br />
                    <label>Fiyat:</label>
                    <input type="number" name="Price" class="form-control" required step="0.01" />
                    <br />
                    <label>Açıklama:</label>
                    <textarea name="Description" class="form-control" required></textarea>
                    <br />
                    <label>Resim 1 URL:</label>
                    <input type="text" name="ImageURL" class="form-control" required />
                    <br />
                    <label>Resim 2 URL:</label>
                    <input type="text" name="ImageURL2" class="form-control" required />
                    <br />
                    <label>Resim 3 URL:</label>
                    <input type="text" name="ImageURL3" class="form-control" required />
                    <br />
                    <label>Popüler mi?:</label>
                    <select name="IsPopular" class="form-control">
                        <option value="true">Evet</option>
                        <option value="false">Hayır</option>
                    </select>
                    <br />
                    <label>Kategori:</label>
                    <select name="CategoryID" class="form-control">
                        @foreach (var category in ViewBag.Categories as SelectList)
                        {
                            <option value="@category.Value">@category.Text</option>
                        }
                    </select>
                    <br />
                    <button type="submit" class="btn btn-primary">Ürünü Ekle</button>
                </form>

            </div>
        </div>
    </div>
</div>


